STREAMERBOT_URL=ws://127.0.0.1:8080/
STREAMERBOT_PASSWORD=password

TWITCH_BOT_LOGIN=cherreshenka_bot
TWITCH_CHANNEL=cherry_in_wine

TWITCH_USE_BOT=true
STREAMERBOT_ACTION=Cherreshenka Dispatch

MUSIC_REWARD_ID=reward-id

MPV_PATH=mpv
YT_DLP_PATH=yt-dlp
YANDEX_MUSIC_TOKEN=token

LOG_LEVEL=all
