STREAMERBOT_URL=ws://192.168.0.106:8080/
STREAMERBOT_PASSWORD=password

TWITCH_BOT_LOGIN=cherreshenka_bot
TWITCH_CHANNEL_NAME=cherry_in_wine
TWITCH_CHANNEL_ID=123456
TWITCH_CLIENT_ID=id
TWITCH_ACCESS_TOKEN=token

DONATION_ALERTS_ACCESS_TOKEN=token

MUSIC_REWARD_ID=reward-id

MPV_PATH=mpv
YT_DLP_PATH=yt-dlp
YANDEX_MUSIC_TOKEN=token

LOG_LEVEL=all

HIT_CHANCE=6

OVERLAY_URL=ws://127.0.0.1:17891/
